body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.container {
    margin: 20px auto;
    max-width: 300px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

#validation {
    margin-top: 10px;
    font-weight: bold;
}

.image-row {
    display: flex;
    flex-direction: row; /* Display in a row */
    align-items: center;
    justify-content: center;
}

.image-row img {
    margin: 0 5px; /* Adjust the margin as needed */
}
