/* AboutMe.css */
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/premium-vector/abstract-smooth-blur-purple-gradient-background-website-banner-paper-card-decorative-design_120819-485.jpg");
    background-size: cover;
  }
  
  .about-me-window {
    width: 100%;
    height: 70vh;
    max-width: 1000px;
    /* padding: 0.5rem; */
    background-color: #fff;
    border-radius: 12px;
    position: relative;
  }
  
  .title-bar {
    height: 20px;
    background-color: #eee;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
  }
  
  .close-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff5f56;
    cursor: pointer;
  }
  
  .minimize-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffbd2e;
    margin-left: 4px;
    cursor: pointer;
  }
  
  .maximize-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0ef03c;
    margin-left: 4px;
    cursor: pointer;
  }
  
  .content-container {
    display: flex;
    height: 90%;
  }
  
  .about-me-content {
    flex: 1;
    /* padding: 1rem; */
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
  }
  .about-me-content .topic {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
  }
  
  .about-me-content .aboutme-title {
    font-size: 24px;
    font-weight: 500;
  }

  .about-me-content .aboutme-description {
    color: #65656d;
    font-size: 16px;
    line-height: 28px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .details-container {
    display: flex;
  }
  
  .column {
    flex: 1;
    margin-right: 20px; /* Adjust the margin as needed for spacing between columns */
  }
  .column .logo-container {
    display: flex;
    flex-direction: column;
  }
  .column .logo-container .logo-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .detail {
    display: flex;
    align-items: baseline; /* Align title and description on the same line */
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Add a 1px solid line below each detail */
  }
  
  .detail-title {
    font-weight: bold;
    margin-right: 8px;
  }

  .edu-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .timeline {
    position: relative;
  }
  
  .edu-description ul {
    list-style-type: none;
    padding: 0;
  }
  
  .edu-description li {
    align-items: flex-start;
    padding-left: 30px;
    margin-bottom: 20px;
    display: flex;
  }
  
  .edu-description li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px; /* Width of the line */
    height: 100%; /* Height of the line */
    background-color: #333; /* Color of the line */
  }
  
  .edu-description li .edu-year {
    font-weight: bold;
    min-width: 120px;
    margin-bottom: 5px;
    display: block;
    margin-right: 10px;
  }

  .edu-description li .edu-info {
    flex-grow: 1;
  }

/* AboutMe.css */

/* AboutMe.css */

/* Additional CSS for responsiveness */
@media only screen and (max-width: 768px) {
    .about-me-window {
      width: 90%;
      height: auto;
      padding: 1em;
      box-sizing: border-box;
      overflow: auto; /* Add overflow property to enable scrolling if content overflows */
    }
  
    .title-bar {
      height: 30px;
    }
  
    .close-button,
    .minimize-button,
    .maximize-button {
      width: 10px;
      height: 10px;
      margin-right: 8px;
    }
  
    .content-container {
      flex-direction: column;
      align-items: center;
      padding: 1em;
    }
  
    .about-me-content {
      padding-left: 0;
      padding-right: 0;
    }
  
    .aboutme-title {
      font-size: 20px;
      text-align: center;
    }
  
    .aboutme-description {
      font-size: 14px;
      text-align: center;
    }
  
    .details-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .column {
      flex: 1 1 calc(50% - 0.5em);
      margin-bottom: 1em;
    }
  
    .column:last-child {
      margin-bottom: 0;
    }
  
    .logo-row {
      justify-content: center;
    }
  
    .logo-row img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
  
    .edu-title {
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
    }
  
    .edu-description {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 1em;
    }
  
    .edu-list {
      list-style-type: none;
      padding: 0;
      text-align: left;
      width: 100%;
    }
  
    .edu-list li {
      margin-bottom: 10px;
      width: calc(50% - 0.5em);
    }
  
    .edu-year {
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }
  }
  
  
  