body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.navbar {
  position: fixed; /* Fixed position to stay at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Set a high z-index value to bring the navbar to the front */
  background-color: rgba(51, 51, 51, 0.5); /* Semi-transparent background */
  color: white;
  padding: 1rem 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  text-decoration: none; /* Remove underline */
  color: white;
  font-weight: bold;
}

.nav-links a:link,
.nav-links a:visited {
  color: white; /* Set the color for both :link and :visited */
}

.nav-links a:hover {
  color: white;
}
