/* Portfolio.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://img.freepik.com/premium-vector/abstract-smooth-blur-purple-gradient-background-website-banner-paper-card-decorative-design_120819-485.jpg");
  background-size: cover;
}

.portfolio-window {
  width: 100%;
  height: 70vh;
  max-width: 1000px;
  /* padding: 0.5rem; */
  background-color: #fff;
  border-radius: 12px;
  position: relative;
}

.title-bar {
  height: 20px;
  background-color: #eee;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.close-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff5f56;
  cursor: pointer;
}

.minimize-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffbd2e;
  margin-left: 4px;
  cursor: pointer;
}

.maximize-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #0ef03c;
  margin-left: 4px;
  cursor: pointer;
}

.content-container {
  display: flex;
  height: 90%;
}

.portfolio-content {
  flex: 1;
  font-family: "DM Sans", sans-serif;
  /* padding: 1rem; */
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-content .title {
  margin: 0%;
  font-size: 50px;
  font-weight: 700;
}

.portfolio-content .subtitle {
  color: #65656d;
  font-size: 16px;
  line-height: 28px;
  margin-top: 5px;
  padding-bottom: 10px;
}

.about-me-button {
  background: linear-gradient(to right, #ff4400, #ad01e1);
  font-family: "DM Sans", sans-serif;
  color: white;
  padding: 10px 20px;
  width: 200px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease; /* Smooth transition on hover */
}

.about-me-button:hover {
  background: linear-gradient(to right, #ee0979, #ff6a00);
}

.profile-picture-container {
  padding: 0.5rem;
  width: 40%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 80%;
  height: 70%;
  object-fit: cover;
  border-radius: 20%;
}

.portfolio-content .homepage-social{
  align-items: center;
  display: flex;
  font-size: 25px;
  justify-content: left;
  padding-top: 30px
}

.portfolio-content .homepage-social a{
  padding-right: 20px;
  color: inherit;
  text-decoration: none;
}
.portfolio-content .homepage-social a:link{
  color: #65656d;
}

.portfolio-content .homepage-social a:visited{
  color: #65656d;
}

.portfolio-content .homepage-social a:hover{
  color: #65656d;
}

/* Additional CSS for responsiveness */
@media only screen and (max-width: 768px) {
  /* Adjustments for smaller screen sizes */
  .portfolio-content {
    padding: 0em;
  }
  .portfolio-window {
    width: 90%; 
    height: auto;
  }

  .content-container {
    flex-direction: column; 
    align-items: center; 
    padding:  1em;
  }

  .profile-picture-container {
    width: 100%; 
    margin: 20px 0; 
  }

  .profile-picture {
    width: 80%; 
    max-width: 250px; 
    height: auto; 
  }

  .portfolio-content .title,
  .portfolio-content .subtitle {
    text-align: center; 
  }

  .portfolio-content .homepage-social {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top: 20px; 
  }

  .portfolio-content .homepage-social a {
    margin: 0 10px; 
  }

  .about-me-button {
    width: 100%; 
    max-width: 200px; 
    margin: 0 auto;
  }
}
