/* Projects.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://img.freepik.com/premium-vector/abstract-smooth-blur-purple-gradient-background-website-banner-paper-card-decorative-design_120819-485.jpg");
  background-size: cover;
}

.projects-window {
  width: 100%;
  height: 70vh;
  max-width: 1000px;
  /* padding: 0.5rem; */
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  overflow: hidden; /* Prevent content overflow */
}

.title-bar {
  height: 20px;
  background-color: #eee;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

.close-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff5f56;
  cursor: pointer;
}

.minimize-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffbd2e;
  margin-left: 4px;
  cursor: pointer;
}

.maximize-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #0ef03c;
  margin-left: 4px;
  cursor: pointer;
}

.content-container {
  display: flex;
  height: 90%;
}

.projects-content {
  flex: 1;
  font-family: "DM Sans", sans-serif;
  /* padding: 1rem; */
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}

.projects-content  .title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.projects-content .description {
    color: #65656d;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 20px;
}
  
  .project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three projects per row */
    grid-gap: 20px; /* Adjust the gap between projects */
    padding-right: 2em;
    overflow: auto;
  }
  
  .project {
    background-color: #f9f9f9; /* Background color for each project */
    padding: 15px;
    border-radius: 8px; /* Rounded corners for the project box */
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .project:hover {
    background-color: #ebebeb;
  }
  
  .project-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1em;
    padding-top: 5px;
    color: #27272a;
  }

  .project-description {
    color: #65656d;
    margin-bottom: 5px;
  }

  .project-button {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0px;
    color: #65656d; /* Button text color */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .project-button .link-icon {
    margin-right: 10px; 
  }
  
  .project-button:hover {
    color: #900e9a;
  }
  
/* Projects.css */

/* Additional CSS for responsiveness */
@media only screen and (max-width: 768px) {
  .projects-window {
    width: 90%;
    min-height: 70vh; /* Set minimum height to maintain visibility */
    max-height: 90vh; /* Set maximum height to allow scrolling if content exceeds */
    overflow-y: hidden; /* Add vertical scrolling if content exceeds the height */
    box-sizing: border-box;
  }

  .content-container {
    flex-direction: column;
    align-items: center;
    padding: 1em;
    height: 100%; /* Set height to fill the parent container */
  }

  .projects-content {
    padding-left: 0;
    padding-right: 0;
    height: 100%; /* Set height to fill the parent container */
  }

  .project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100%; /* Set height to fill the parent container */
    overflow-y: auto; /* Add vertical scrolling if content exceeds the height */
  }

  .project {
    width: 90%;
    max-width: 350px;
    margin-bottom: 20px;
  }

  .project-title {
    font-size: 18px;
    text-align: center;
  }

  .project-description {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }

  .project-button {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }
}

  